---
import Layout from '../layouts/Layout.astro';
import ArtComponent from '../components/Art.jsx';
---

<Layout title="Art | Luke Pitstick">
	<main class="pt-20">
		<ArtComponent client:visible />
	</main>
</Layout>
