---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import About from '../components/About.jsx';
import RecentPosts from '../components/RecentPosts.astro';
import Contact from '../components/Contact.jsx';
// Force update 2
---

<Layout title="Luke Pitstick | Portfolio">
	<main>
		<Hero client:load />
        <div class="relative z-10 bg-white/50 backdrop-blur-sm">
            <About client:visible />
		    <Contact client:visible />
        </div>
	</main>
</Layout>
