---
import Layout from '../layouts/Layout.astro';
import LegislationComponent from '../components/Legislation.jsx';
---

<Layout title="Legislation | Luke Pitstick">
	<main class="pt-20">
		<LegislationComponent client:visible />
	</main>
</Layout>
